# string and some others symbols

In [5]:
print("/some/name")
print("\some\name")
print("somme\name") #rawstring notation is r to remove all ident
print("hi islamian how are u")

name="faisal"
print(f"my name is ={name}")
print("number {}")
print("my name is {}".format(name))

/some/name
\some
ame
somme\name
hi islamian how are u
my name is =faisal
number {}
my name is faisal

In [9]:
name="islamia collge"
print(name[::-1])
name[3]
name[-4]
name[0:5]
name[5:8]
name[::-1]
name2="faisal"
# name[6::-1]
# name[-5:-2]
# print(name2[1:4])
# print(name2[::3])
# print(name2[: :2])
# print(name2[: :-1])
# print(name2[:])
# print(name[:5:-2])
name2[3: :-1]
name2[: 2:-1]
# name2[::-2]

eglloc aimalsi

'las'

# format()

In [6]:
n="ali"
print("my name is {}".format(n))
print("my nma is {name} age is {age} ".format(name="faisal" , age=32))
print("my name is {0}  age {1}".format("ali" , 23))

print(f"my name is {n}")
print("number {:.4f}".format(12.3445353456))
print("number %.4f" %14.25444666)
nam="ali"
a=233.4384783743
print("name %s" %nam)
n=1223.3467234634
print("number %d" %n)
print("number {:*<20}".format(n))
print("another nam{:20.4f}".format(n)) ##20 spaces and 4 decimal nnumber after point

my name is ali
my nma is faisal age is 32
my name is ali  age 23
my name is ali
number 12.3445
number 14.2544
name ali
number 1223
number 1223.3467234634*****
another nam           1223.3467

In [3]:
#lenght
name="islamia"
len(name)

print("our uni name is {:>20}".format(name)) ##it will create 20 space for name only use required other will not
print("our uni name is {:<20}".format(name))
print("my name is {name} and my age {age} ".format(name="faisal" ,age=12))
print("my name is {} and my age is {}".format("ali" , 33))
print("my age is {age:*<10}".format(age=12)) #it will all space with stri*** remain spaces 
num=12.34564363
print("{:f}".format(num))



a=45555.23423456

print("number is      %.5f" %a)

print("number is {0:.3f}".format((a)))
print("{0:.5f}".format((a)))
print("{:.4f}".format((a)))
print("{0:.6f}".format((a)))
print("%.3f" %a)
print("%d" %a) ##it will return an intger value
print("%s %d %f" %(name, a, a))

our uni name is              islamia
our uni name is islamia
my name is faisal and my age 12
my name is ali and my age is 33
my age is 12********
12.345644
number is      45555.23423
number is 45555.234
45555.23423
45555.2342
45555.234235
45555.234
45555
islamia 45555 45555.234235

In [1]:
name="islamian"
b=6773.127536748567365
print("number us {:f}".format(b)) ##its mean that float store upto six number show
print("number {:.10f}".format(b))
print(name[: :-1])
print(name[: : 1])
print(name[4: : -1]) #reverse strat from m 
print("name show like {:>20s}".format(name))
print("name show like {:*<20s}".format(name))
print("name show like {:*>20s}".format(name))
print(name[: :2])
print(name[2:5])
print("number is with width{:7.3f}".format(b))  ## 7 boxes mean spaces create and .3 decimal number 
print("thousand show after colon   ={:,}    ".format(12452345345))

value=(12 ,20 ,3) ##0[0]=12, 0[1]=20 , 0[2]=3 
print("first value with index{0[0]} second value with index {0[1]}".format(value)) ## here value mean 0 index 
##at every point value index in zero 0 and there internal vlaue have multiple index have each value 0,1,2,..

number us 6773.127537
number 6773.1275367486
naimalsi
islamian
malsi
name show like             islamian
name show like islamian************
name show like ************islamian
ilma
lam
number is with width6773.128
thousand show after colon   =12,452,345,345
first value with index12 second value with index 20

In [58]:
a=4.23423456
print("number is {:f}".format(a))

print("number is {0:.3f}".format(a))
num=12.34564363
print("{:f}".format(num))
print("{:.3f}".format(num))
print

number is 4.234235
number is 4.234
12.345644
12.346

In [152]:
name="ali"
fname="fali"
print("{} is a good boy and his father {} is also a good man " .format(name, fname))
print(f"{name}is a good boy his father is {fname}") #new version updated

ali is a good boy and his father fali is also a good man
aliis a good boy his father is fali

# list

In [123]:
lista=[1,2,3,4]
print(lista[3])
print(lista[-4])
print(lista[:4])
lista[1:3]
lista+ [4,5,6,7,8,]
lista=['a','s','d','f','g','h','h','j']
lista[3:5]=['A','S','D','G']
lista
print(len(lista))
listb=[1,2,3,4,4]
listb.append("hello")
print(listb)
print(len(listb))
listb.extend("hello")
listb.extend({"naem": "ali"})
print(listb)
print(type(listb))
##extend()will add multiple item and append will only one item

4
1
[1, 2, 3, 4]
10
[1, 2, 3, 4, 4, 'hello']
6
[1, 2, 3, 4, 4, 'hello', 'h', 'e', 'l', 'l', 'o', 'naem']
<class 'list'>

In [19]:
ab=[1,2,34,3,4,5,6]
print(ab)
ab.append("hello")
print(ab)
ab.extend("hello")
ab.extend([1,2,3,4])
print(ab)
cd=[2,5,4,3,7]
cd.append([3,4,5,76])
print(cd)
cd.extend({2,1,4,5})
cd.extend([33,44,55, {88,66}] )
print(cd)
cd[5]
cd.append([44,33333,2222 , [6677,888,999]])
print(cd)
tt=int(cd)

[1, 2, 34, 3, 4, 5, 6]
[1, 2, 34, 3, 4, 5, 6, 'hello']
[1, 2, 34, 3, 4, 5, 6, 'hello', 'h', 'e', 'l', 'l', 'o', 1, 2, 3, 4]
[2, 5, 4, 3, 7, [3, 4, 5, 76]]
[2, 5, 4, 3, 7, [3, 4, 5, 76], 1, 2, 4, 5, 33, 44, 55, {88, 66}]
[2, 5, 4, 3, 7, [3, 4, 5, 76], 1, 2, 4, 5, 33, 44, 55, {88, 66}, [44, 33333, 2222, [6677, 888, 999]]]

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [10]:
x=[x  for x in range(0,10)]
print(x)

for i in range(10):
    print(i)
    
name="fhsdgfhsahdfh"
for i in name:
    print(set(i))
lo=[x for x in name]
print(lo)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9
{'f'}
{'h'}
{'s'}
{'d'}
{'g'}
{'f'}
{'h'}
{'s'}
{'a'}
{'h'}
{'d'}
{'f'}
{'h'}
['f', 'h', 's', 'd', 'g', 'f', 'h', 's', 'a', 'h', 'd', 'f', 'h']

# IF STATMENT DECISION

In [30]:
# words=["apple" , "angor" , "bannana", "faisal"]
# for i in words:
#     print(i , len(i))

a=[x for x in range(0,10)]
print(a)
x=60
print("if statement short = ", x**2 if x>12 else 0)


for i in range(1 ,10):print(f"for loopp shorthand ={i*i}")
for v in range(1,10): print(f"range value {v}")




print("helli ") if 34<44 else print("nothing")
n=int(input("enter a number ="))
print("even numver") if n%2==0 else print("odd")
for i in range(1,10): print(f"even ={i}" if i%2==0 else  f"odd {i}" )
    

for val in range(1,10): print(f"even number{val}" if val%2==0 else f"odd number ={val}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
if statement short =  3600
for loopp shorthand =1
for loopp shorthand =4
for loopp shorthand =9
for loopp shorthand =16
for loopp shorthand =25
for loopp shorthand =36
for loopp shorthand =49
for loopp shorthand =64
for loopp shorthand =81
range value 1
range value 2
range value 3
range value 4
range value 5
range value 6
range value 7
range value 8
range value 9
helli
enter a number =22
even numver
odd 1
even =2
odd 3
even =4
odd 5
even =6
odd 7
even =8
odd 9
odd number =1
even number2
odd number =3
even number4
odd number =5
even number6
odd number =7
even number8
odd number =9

# elif shorthand

In [5]:
print("hello") if 12>22 else print("work") if 33>22 else print("not working") 
print(x for x in range(1,10))
z=[x for x in range(1,10)]
print(z)

work
<generator object <genexpr> at 0x000001958A203DD0>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print("true value " if 12<13 else "false")
i=10
j=4
print(i*i if i<j else j*j )
print(i*j if i<=j else j/i)
# 
# for loop
for i in range(1,10): print(i)
for j in range(1 ,10): print(f"odd=  {j}" if j%2==0 else f"oddd=  {j}")

true value
16
0.4
1
2
3
4
5
6
7
8
9
oddd=  1
odd=  2
oddd=  3
odd=  4
oddd=  5
odd=  6
oddd=  7
odd=  8
oddd=  9

# while loop

In [7]:
w=int(input("entera number"))
while w<10: print(w) ; w+=1

entera number2
2
3
4
5
6
7
8
9

In [46]:
print([x**2 for x in range(1,5) ]) #instead use of append in list use this short hand
print([s for s in range(1,10) if s%2==0 ])  ##append to list jst even number
print([f for f in range(1,20) if f%2!=0]) ##

[1, 4, 9, 16]
[2, 4, 6, 8]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# nested loop shorthand

In [9]:
# for i in range(3):
#     for j in range(3):
#         print(i , j)
# print([(i  ,j ) for i in range(3) for j in range(3)])
# print([g for g in range(6) ])

plist=[]
for d in range(0,2):
    for k in range(0,2):
        plist.append(d)
        plist.append(k)
        plist.append("islamian")
        plist.extend("islamian")
print(plist)
print(type(plist))

[0, 0, 'islamian', 'i', 's', 'l', 'a', 'm', 'i', 'a', 'n', 0, 1, 'islamian', 'i', 's', 'l', 'a', 'm', 'i', 'a', 'n', 1, 0, 'islamian', 'i', 's', 'l', 'a', 'm', 'i', 'a', 'n', 1, 1, 'islamian', 'i', 's', 'l', 'a', 'm', 'i', 'a', 'n']
<class 'list'>

# function short hand

In [28]:
def sum(x ,y): return x*y
sum(2,2)

##lamda function We use lambda functions when we require a nameless function for a short period of time

f2=lambda x,y: x*y 
f2(3,4)


a=[1,2,3,4]
b=[x+1 for x in a]
print(a)
print(b)

[1, 2, 3, 4]
[2, 3, 4, 5]

In [29]:
for  i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# even and odd and prime number

In [34]:
### n=int(input("enter a number to check a number even or odd"))
n=12
a=[f"even number ={n}" if n%2==0 else f"odd number{n}"]
print(a)
for i in range(1,10): print(f"even{i}" if i%2==0 else f"oddd{i}")
## for loop : true stat if condition else false stat
## true statement if condition false statement

['even number =12']
oddd1
even2
oddd3
even4
oddd5
even6
oddd7
even8
oddd9

In [10]:
listr=[1,2,3,4,5,6,7]
res=list(map(lambda num:num%2 ,listr))
print(res)
# map functions expects a function object and any number of iterables like list, dictionary,
list2=[10,20,30,40]
def inc(n):
    return n+2
result=list(map(inc, list2))
print(result)
# for i in result:
#     print(i)

result2=list(map(lambda n:n+2 , list2))
print(result2)

def evenodd():
    for i in list2:
        if i%2==0:
            print(f"even{i}")
        else:
            print(f"odd{i}")
            
evenodd()
    
#

[1, 0, 1, 0, 1, 0, 1]
[12, 22, 32, 42]
[12, 22, 32, 42]
even10
even20
even30
even40

In [67]:
a=[12,33,44,22,66,32,23,63]
b=[1,2,3,4,5,64,3,2]
result5=list(map(lambda n,m:n+m , a,b))
print(result5)

[13, 35, 47, 26, 71, 96, 26, 65]

In [ ]:
## count=0
number=int(input("enter number to find prime number"))
for i in range (1 ,number+1):
    if number%i==0:
        count+=1
if count==2:
    print("prime number=", number)
else:
    print("composite number", number)

# match look like switch

In [74]:
def switch(lang):
    if lang=="java":
        print("java has been selected")
    elif lang=="python":
        print("python has been selected")
    elif lang=="c++":
        print("c++ has been selected")
    elif lang=="php":
        print("php has been selected")
switch("java")
switch("php")
switch("python")

java has been selected
php has been selected
python has been selected

In [80]:
# but in python we use match and case its work in python 10.3 somthing 
lan=input("enter a language ")
match lan:
    case "java":
        print("u can become java devel")
    case "php":
        print("u can become php devel")
    case "python":
        print("u can become python d")
        
    case_:
        print("u enter invilid statement")

SyntaxError: invalid syntax (635962654.py, line 3)

In [92]:
response_code = 400

match response_code:
    case 200:
        print("Everything's peachy!")
        break
    case 300:
        print("You're going somewhere else!")
        break
    case 400:
        print("Uh oh. Are you lost?")
        break
    case 500:
        print("Yikes. Something went wrong!")
        break

SyntaxError: invalid syntax (631645081.py, line 3)

In [ ]:
number=int(input("enter a number to check even and odd"))
if number%2==0:
    print("even" , number)
else:
    print("odd", number

In [ ]:
import numpy as np
a=np.array([[1,2],[2,3]])
b=np.array([[2,4],[5,3]])
d=np.array([[4,5], [6,6]])
c=a*b
result=c+d

print(result)

# fabn series 011235b....

In [177]:
num=int(input("enter a number for fab series "))
x , y  =0,1
z=0
result=[]
while z<num:
    print(z)
    x=y
    y=z
    z=x+y
    

print(z)

enter a number for fab series 1
0
1

# function

In [17]:
def fab(n):
    x,y,z=0,1,0
    result=[]
    while z<n:
#         print(z)
        x=y
        y=z
        z=x+y
        result.append(z)
    print(result)
fab(100)
fab(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[1, 1, 2, 3, 5, 8, 13]

# lambda function

In [178]:
##simple function concise code instead wasting time
a=lambda x,y:x+y
print(a(2,4))

x=lambda a,b,c: a+b*c
print(x(2,4,2))
fun(x,y):
    x+y
fun(2,3)

6
10

In [179]:
a=lambda x,y:x+y
b=lambda f ,r:f*r
z=a(2,2)+b(3,3)
print(z)

13

# Data Structures¶

In [6]:
#insert(index , num)
list5=[1,2,3,4,5,6]
print(f"currrent list{list5}")
newnum=int(input("enter a number"))
index=int(input(f"enter index from 0  {len(list5)-1} "))
list5.insert(index , newnum)
list5.insert(3,44)
list5.insert(4 , [1,2,3])
list5.insert(1, {1,2,3,4})
list5.insert(3, {"name":"ali" , "age":12})
print(f"now its look like this {list5}")

currrent list[1, 2, 3, 4, 5, 6]
enter a number22
enter index from 0  5 1
now its look like this [1, {1, 2, 3, 4}, 22, {'name': 'ali', 'age': 12}, 2, 44, [1, 2, 3], 3, 4, 5, 6]

In [7]:
#insert(index , num)
list=[1,2,3,4,5,6]
print(f"currrent list{list}")
newnum=int(input("enter a number"))
index=int(input(f"enter index from 0  {len(list)} "))
list.insert(index , newnum)
print(f"now its look like this {list}")

currrent list[1, 2, 3, 4, 5, 6]
enter a number66
enter index from 0  6 5
now its look like this [1, 2, 3, 4, 5, 66, 6]

In [1]:
#extend(strinf or num or tuple )
list=[]
list.extend([2,3])
print(list)
list.extend((1,2,1,1,1,3,4))
print(list)
list.extend("hello")
print(list)
list.extend(("hello", "hi","man"))
print(list)

list.remove(1) #remove(element which u want to remove)
print(list)
list.remove(1)
print(list)

list.pop(3)  #pop(index element wgich you u want ti remobe )
print("pop" ,list)
a=[1,2,3,4,4,56,7]
print(list.count(1))
print(a.reverse())
print(list.reverse())
print(list)

a.sort()
print(a)
for i in list:
    print(i)

# list.clear()
# a.clear()
# print(a)
# print(list)

[2, 3]
[2, 3, 1, 2, 1, 1, 1, 3, 4]
[2, 3, 1, 2, 1, 1, 1, 3, 4, 'h', 'e', 'l', 'l', 'o']
[2, 3, 1, 2, 1, 1, 1, 3, 4, 'h', 'e', 'l', 'l', 'o', 'hello', 'hi', 'man']
[2, 3, 2, 1, 1, 1, 3, 4, 'h', 'e', 'l', 'l', 'o', 'hello', 'hi', 'man']
[2, 3, 2, 1, 1, 3, 4, 'h', 'e', 'l', 'l', 'o', 'hello', 'hi', 'man']
pop [2, 3, 2, 1, 3, 4, 'h', 'e', 'l', 'l', 'o', 'hello', 'hi', 'man']
1
None
None
['man', 'hi', 'hello', 'o', 'l', 'l', 'e', 'h', 4, 3, 1, 2, 3, 2]
[1, 2, 3, 4, 4, 7, 56]
man
hi
hello
o
l
l
e
h
4
3
1
2
3
2

In [8]:
lista=[x**3 for x in range(10)]
lista
square=[(x,y) for x in [1,2,3] for y in [3,4,5] if x!=y ]
print(square)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

# tuple (a,b,c,........) immuable not changable

In [ ]:
tuplea="hello", "hi"
len(tuplea)
tuplea=(1,2,3,"hi" ,"ali")
# tuplea.remove(2)    #immutable
# tuplea
for i in tuplea:
    print(i)

# set

In [ ]:
seta={"apple", "ele" , "banana", "ele"}
print(seta) #duplication is removed from here not allowed immutable

In [181]:
for i in seta:
    print(i)
    
a={x for x in "sdbhbnkbjkawhurhwfj"}
print(a)

ele
banana
apple
{'d', 'k', 'n', 'h', 'b', 'w', 'f', 'j', 'a', 's', 'r', 'u'}

In [182]:
a={1,2,3,4,5,5,6}
b={3,2,5,7,8,1}
print(a or b)
a and b

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 5, 7, 8}

# Dictionaries¶

In [10]:
dict={'name':"faisal khan",
     "fname": "javed khan",
      'age' : 20
     }
print(dict)
print(sorted(dict))
print(dict['age'])
print('fname')
print(['name'])
# print(list(dict)) # it will convert to list but now i have create the list 
del dict["name"]
print(dict)
"ali" not in dict
"age" not in dict
sorted(dict)
dict.keys()
dict.values()
dict["name"]="faisal khan "
dict["age"]=333
print(dict)

#use for loop in dict
for k ,v in dict.items():
    print("for loops= " ,k , v)
    
    
    
  #use enumerate to index the keys and its value  
    
    for i ,j in enumerate(dict):
        print(i , j)

{'name': 'faisal khan', 'fname': 'javed khan', 'age': 20}
['age', 'fname', 'name']
20
fname
['name']
{'fname': 'javed khan', 'age': 20}
{'fname': 'javed khan', 'age': 333, 'name': 'faisal khan '}
for loops=  fname javed khan
0 fname
1 age
2 name
for loops=  age 333
0 fname
1 age
2 name
for loops=  name faisal khan
0 fname
1 age
2 name

# casting

In [4]:
# s="djfnjasnd"ali"lsdnfjsjnfas"    it will give an error use escape charactor
s="djfnjasnd\"ali\"lsdnfjsjnfas"
print(s)

djfnjasnd"ali"lsdnfjsjnfas

# zip function......

In [11]:
a=("faisal" , "ali" ,"islamia" )
b=("javed" ,"haroom" , "uni" , "aki")
for i , j in zip(a ,b):
    print(f"first name {i} and father name is {j}")

first name faisal and father name is javed
first name ali and father name is haroom
first name islamia and father name is uni

In [185]:
print("djfbkjsb")
for i in reversed(range(1 ,10 , 1)):
    print(i)

djfbkjsb
9
8
7
6
5
4
3
2
1

In [13]:
a=["apple" , "noor","bilal", "jksdbfj", "khbfbas"]
for i in reversed(a):
    print(i)
for j in reversed(a):
          print(j)

khbfbas
jksdbfj
bilal
noor
apple
khbfbas
jksdbfj
bilal
noor
apple

In [3]:
import math
b=[2 ,2.3, float("NaN") , 84 ,float("NaN")]
c=[]
for i in b:
   if not math.isnan(i):
        c.append(i)
print(c)

[2, 2.3, 84]

In [17]:
a=[1,24,5,6,3,7]
for i in sorted (a):
    print(a)

[1, 24, 5, 6, 3, 7]
[1, 24, 5, 6, 3, 7]
[1, 24, 5, 6, 3, 7]
[1, 24, 5, 6, 3, 7]
[1, 24, 5, 6, 3, 7]
[1, 24, 5, 6, 3, 7]

# module

In [19]:
def fib(n):
    x,y,z=0,1,0
    while z<n:
        print(z)
        x=y
        y=z
        z=x+y
    print(z)
fib(100)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [7]:
dir(fib)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [14]:
def setName(name):
    print("hello my name is ", name)
   
setName("faisal")

hello my name is  faisal

In [18]:

x=dir(math)
print(list(x))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [19]:
def naming(firstName , lastName):
    print(f" my name is {firstName} and last name is {lastName} ")
    print("its working ")
naming("faisal" , "javed")

 my name is faisal and last name is javed
its working

In [26]:
def multiply(*numbers):  #  *use for multiple argument
    total=1
    for i in numbers:
        total*=i
    print(total)
print(multiply(1,2,3,4,5,6))

720
None

In [9]:
def inf(**user):  #** double use for keywords use in different datatype  
    print(user)
inf(id=12334 , name="ali" , age=23)

{'id': 12334, 'name': 'ali', 'age': 23}

# local and global variable

In [37]:
message=1223
def number(input):
    num=1
    global  message
   
    print(num)
# print(num)
print("global " ,message)

global  1223

In [5]:
def bizz_buzz(input):
    print(input)
bizz_buzz(23)
bizz_buzz(33)

23
33

In [8]:
class myclass:
#     def sum(self ,a,b):
    def sum(self , a=None , b=None):
        if a!=None and b!=None:
           return a+b
    
#         c=a+b
#         return c
   
obj=myclass()

obj.sum(2 ,3)

5

In [16]:
def series(n):
    s=1;
    for i in range(1 ,n-1):
        s=s*i
    print(s)
series(5)

6

In [21]:
a=34
b=50
if a<b:
    print("heloo")
elif a>b:
    print("my sql")
elif a==b:
    print("morning")

heloo

In [30]:
for i in range(1 , 10):

    if i==5:
         break
    print(i)

1
2
3
4

In [25]:
for i in range(1 ,10):
    
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [26]:
def name(*nam):
    print("name is " ,nam)
    for i in range(3):
        print("the youngets brother is" , nam[i])
    
name("ali " , "khan " , "faisal" )
# name("ali" , "haroon") # tuple ia outof range

name is  ('ali ', 'khan ', 'faisal')
the youngets brother is ali
the youngets brother is khan
the youngets brother is faisal

In [41]:
def user(*name):
    print("my name is =" , name)
user("khan" , "sali")

my name is = ('khan', 'sali')

In [27]:
def data(n):
    nameuser=[]
    for i in range(n):
        i=input("enter name")
        nameuser.append(i)
        print(nameuser)
data(3)

enter namew
['w']
enter namew
['w', 'w']
enter namew
['w', 'w', 'w']

In [ ]:
import math
from math import pi
class student:
    name="aisal"
    print(f"math pi is equal to {math.pi: .3f}") ##minimium numer 3f mean after decimal 
    age=33
obj=student
obj.name
obj.age

# string formating

In [29]:
import math
name="faisal"
age=22
print(f"pi show decimal less than the orinal point : use for datatype specification {math.pi: .3f}") 
print(f"number {22.34342 : .4f}")
print(f'to expand the strinf as a var  no need to write var in string {name=} , {age=}')
print("my name is {0} , and i am {1}".format("faisal" , 12))

table={"name": "fasial" , "rolno":1234}
# print("my name is {0[name]:str}; name  {0[rolno]:d};".format(table))
print("name is {name} roll number  {rolno}".format(**table))

pi show decimal less than the orinal point : use for datatype specification  3.142
number  22.3434
to expand the strinf as a var  no need to write var in string name='faisal' , age=22
my name is faisal , and i am 12
name is fasial roll number  1234

In [82]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; '
      'Dcab: {0[Dcab]:d}'.format(table))

for i in range(1 , 10):
    print("{0} , {1} , {2}".format(i , i*i , i*i*i))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678
1 , 1 , 1
2 , 4 , 8
3 , 9 , 27
4 , 16 , 64
5 , 25 , 125
6 , 36 , 216
7 , 49 , 343
8 , 64 , 512
9 , 81 , 729

In [33]:
#str.zfill use for the filling remain with zero 
"233434".zfill(10)
"-3.23843".zfill(44)
"sdbf".zfill(20)
"fasd".zfill(-20)
print("sdbfbs".zfill(20))
print("sngjfhgf".zfill(40))

00000000000000sdbfbs
00000000000000000000000000000000sngjfhgf

# file handling python

In [105]:
f=open('filename.txt' , 'a+')
print(f.readlines())
f.write("islamia collge peshwar")
f.write("\nmy  name is faisal")
f=open('filename.txt' , 'r+')
print(f.read())

[]
hello
i am islamian islamia collge peshwarislamia collge peshwarislamia collge peshwarislamia collge peshwarislamia collge peshwarislamia collge peshwarislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisalislamia collge peshwar
my  name is faisal

In [113]:
g=open('filename.txt' , "r+")
for line in g:
    words=line.split(" ")
    print("how much words in this lines =" ,len(words))
    print(words)
g.close()

how much words in this lines = 1
['hello\n']
how much words in this lines = 18
['i', 'am', 'islamian', 'islamia', 'collge', 'peshwarislamia', 'collge', 'peshwarislamia', 'collge', 'peshwarislamia', 'collge', 'peshwarislamia', 'collge', 'peshwarislamia', 'collge', 'peshwarislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 7
['my', '', 'name', 'is', 'faisalislamia', 'collge', 'peshwar\n']
how much words in this lines = 5
['my', '', 'name', 'is', 'faisal']

In [133]:
with open('filename.txt' , "r+") as g:
    
    with open('newfile.txt' , 'w') as gout:

        for line in g:
            words=line.split(" ")
            gout.write("words per line     =     (" + str(len(words)) +')  '+line)
#     print(words)
##when u use with then no need to use close()

# json 
load:strinf to dictionary

dumps:dict to string

In [149]:
import json
data={"name":"nothin", "age":23 , "heloo":"waslm"}

a=json.dumps(data)
print(a , type(a))
# print(b)
bdata=json.loads(a)
print(bdata , type(bdata))

#list
listdata=[1,2,3,4,5]
print(listdata, type(listdata))
cdata=json.dumps(listdata)
print(cdata , type(cdata))

loadsdata=json.loads(cdata)
print(loadsdata , type(loadsdata))

{"name": "nothin", "age": 23, "heloo": "waslm"} <class 'str'>
{'name': 'nothin', 'age': 23, 'heloo': 'waslm'} <class 'dict'>
[1, 2, 3, 4, 5] <class 'list'>
[1, 2, 3, 4, 5] <class 'str'>
[1, 2, 3, 4, 5] <class 'list'>

In [19]:
class myclass:
    kind="dos"
    def __init__(self , name):
        print("hello my name is" ,name)
d=myclass("faisal")

print(d.kind)

hello my name is faisal
dos

In [58]:
class mclass:
    

    def __init__(self): ##constructr init mean istance varible self is a vriable object of the class
           
        self.name="realme"
        
        print("hello " )
    def  add(self , n):
        print("mobile :", self.name , "price is : " , n)
obj=mclass()
obj.add(1000)
obj.add(12222)

hello
mobile : realme price is :  1000
mobile : realme price is :  12222

# inheritance

## single ineritance mean one child

In [67]:
##inheritance have child class and parent class child class use the varaible and method of thr parent class 
##but parent class cant use the method and variable of the child class 
class mobile:
    mod_no=2345452
    def feature(self , no):
        print("i am parent class: ",no)
class realme(mobile):
    def function(self , mdno):
        print("this one is the child class", mdno)
s1=realme()
s1.function(374)
s1.mod_no
s1.feature(191077)

this one is the child class 374
i am parent class:  191077

# constructor of inheritance

In [70]:
class pcclass:
    def __init__(self):
        print("i am a parent class constructor")
class baseclass(pcclass):
    def show(self):
        print("child class function")
b=baseclass()
b.show()

i am a parent class constructor
child class function

In [74]:
class fclass:
    def __init__(self):
        print("parent class constructor")
class bclass(fclass):
    def __init__(self):
       
        print("child class constructor")
ob=bclass()

child class constructor

In [72]:
##let parent class construcotr make super to run forst from child class
class fclass:
    def __init__(self):
        print("parent class constructor")
class bclass(fclass):
    def __init__(self):
        super().__init__()
        print("child class constructor")
ob=bclass()

parent class constructor
child class constructor

# multi level inheritance

In [78]:
class father:
    def showf(self):
        print("i m father methiod class")
class son(father):
    def shows(self):
        print("i am son classs method")
        
class grandson(son):
    def showg(self):
        return ("i am grandson mehtod ")
s=grandson()
s.showg
s.shows

In [82]:
s="sdfhsaf nsbfbkjb"
it=iter(s)
next(it)
next(it)
next(it)

'f'

In [89]:

s="sdfhsaf nsbfbkjb"
def reverse(s):
    for index in range(len(s)-1, -1, -1):
        yield s[index]   #yield use instead of return to send value back to function
for i in reverse(s):
    print(i)

b
j
k
b
f
b
s
n

f
a
s
h
f
d
s

In [94]:
data="123456678"
def rev(data):
    for index in range(len(data)-1 , -1 ,-1):
        yield data[index]
for i in rev(data):
    print(i)

8
7
6
6
5
4
3
2
1

In [5]:
lis=[12,44,77,33,55,99,44,222]
def avrage(n):
    if n<=80:
        return True
result=list(filter(avrage , lis))
print(result)
# for i in result:
#     print(i)

[12, 44, 77, 33, 55, 44]